[submodule "OCA/product-configurator"]
	path = OCA/product-configurator
	url = git@github.com:OCA/product-configurator.git
	branch = 14.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 14.0

[submodule "pledra/odoo-product-configurator"]
	path = pledra/odoo-product-configurator
	url = git@github.com:pledra/odoo-product-configurator.git
	branch = 13.0
